.auth-container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#0f172a;
}

.auth-card{
width:400px;
background:#111827;
padding:40px;
border-radius:20px;
display:flex;
flex-direction:column;
gap:15px;
}

.auth-card h1{
color:white;
text-align:center;
}

.auth-card input{
padding:15px;
border:none;
border-radius:10px;
font-size:16px;
}

.auth-card button{
padding:15px;
background:#22C55E;
border:none;
border-radius:10px;
color:white;
font-size:16px;
cursor:pointer;
}